<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat-Da-Burger</title>
		<!--JQuery-->
		<script src="https://code.jquery.com/jquery.js"></script>

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<!--Icons-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Frontend js-->
		<script src="/assets/js/burger.js"></script>
		<!--My style css-->
		<link rel="stylesheet" href="/assets/css/style.css">
	</head>
	<body class="black">
		{{{ body }}}
	</body>
</html>
